* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.menu_bar {
    background-color: rgb(53, 54, 54);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
}

.logo {
    color: white;
    font-size: 24px; 
}
/* .name{
    color:#4CAF50
} */

.logo span {
    color: rgb(120, 120, 222);
	margin: 0 auto;
  	text-shadow: 0 0 80px rgba(120, 120, 222);
}
.logo{

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;
      /* Animate Background Image */

	  -webkit-text-fill-color:transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

    @-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px;
    position: relative;
}

.menu_bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.5s;
}

.menu_bar ul li a:hover {
    color: rgb(82, 82, 136);
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(53, 54, 54);
}

.dropdown_menu ul {
    display: block;
    margin: 10px;
}

.dropdown_menu ul li {
    width: 150px;
    padding: 8px;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown_menu-1,
.dropdown_menu-2,
.dropdown_menu-3 {
    display: none;
}
/* ---------------------------responsive code for nav bar section------------------------------------ */

@media screen and (max-width: 480px) {
    .menu_bar {
        padding: 0 3%; 
    }

    .logo {
        font-size: 20px;
    }

    .menu_bar ul li {
        padding: 8px; 
    }

    .menu_bar ul li a {
        font-size: 14px; 
    }

    .dropdown_menu ul li {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .menu_bar ul li {
        padding: 10px 15px; 
    }

    .menu_bar ul li a {
        font-size: 18px; 
    }

    .dropdown_menu ul li {
        width: 150px; 
    }
}

@media screen and (min-width: 1024px) {
    .menu_bar ul li {
        padding: 10px 30px;
    }

    .menu_bar ul li a {
        font-size: 20px;
    }
}



/* home Section */

.home-deatils {
    /* margin-top: 1px; */
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/104251890/photo/cubicles-and-desks-with-computers-in-modern-office.jpg?s=612x612&w=0&k=20&c=iU-O1ysiTDINVOSSInGHM3G0hX9FKCJeGjc0kYBJbmU=');
    background-size: cover;
    color: #191c1cf6;
    height: 450px;
    background-origin: border-box;
}

.home-deatils h3 {
    align-items: center;
    padding-top: 100px;
    font-size: 60px;
    font-weight: 700;
}

.fullform {
    font-size: 50px;
    font-weight: 800;
    padding-top: 25px;
}
/* ---------------------------responsive code for Home section------------------------------------ */
@media only screen and (max-width: 768px) {
    .home-deatils h3 {
        font-size: 40px;
        padding-top: 80px;
    }

    .fullform {
        font-size: 30px;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .home-deatils h3 {
        font-size: 30px;
        padding-top: 60px;
    }

    .fullform {
        font-size: 20px;
        padding-top: 10px;
    }
}

/* ----------------------------jobs section--------------------- */


.jobs {
    box-shadow: 0px 0px 5px 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjusted height for responsiveness */
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    width: 98%;
}

.carrers h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.job-box {
    box-shadow: 0px 0px 8px 2px rgb(70, 70, 70);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: #f8f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%; /* Adjusted width for responsiveness */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.job-box i {
    font-size: 70px;
}

.btn {
    border-radius: 10px;
    width: 90px;
    height: 30px;
    background-color: rgb(191, 194, 194);
    border: 0px solid;
}

.btn a {
    text-decoration: none;
    color: #2d2b2b;
    font-size: 17px;
    font-weight: 600;
}

h2 {
    color: #3c3b3b;
}

.text,
.text1 {
    font-size: 16px;
    color: #0f0f0f;
    font-weight: 500;
}

.text1 {
    font-size: 24px;
    width: 100px;
}

.text2 {
    font-size: 16.5px;
    font-weight: 600;
}
/* ---------------------------responsive code for jobs section------------------------------------ */

@media only screen and (max-width: 1200px) {
    .job-box {
        width: 48%;
    }
}

@media only screen and (max-width: 768px) {
    .job-box {
        width: 98%;
    }
}

@media only screen and (max-width: 480px) {
    .job-box {
        width: 98%;
    }
}


/* ----------------------------footer section--------------------- */

.footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-column {
    width: 30%;
    margin-bottom: 20px;
}

.footer-column h3 {
    color: #ffcc00;
}
/* ---------------------------responsive code for Footer section------------------------------------ */
@media screen and (max-width: 768px) {
    .footer-column {
        width: 100%;
    }
}

.license-section {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.social-media a {
    display: inline-flex;
    width:35px;
    height: 35px;
    border-radius: 50%;
    color: #d1d9db;
    font-size: 30px;
    border: 2px solid #d9d9d9;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 2px;
    transition: .5s ease;
}

.social-media a:hover,
.social-media a.active {
    background: #6a6a687a;
    color: #000;
    box-shadow: 0 0 20px #c6cbcd;
}


/* ---------------------------animation code for Footer section------------------------------------ */
.footer-column {
    transition: transform 0.3s ease-in-out;
}

.footer-column:hover {
    transform: scale(1.05);
}


