* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.menu_bar {
    background-color: rgb(53, 54, 54);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
}

.logo {
    color: white;
    font-size: 24px; 
}
/* .name{
    color:#4CAF50
} */

.logo span {
    color: rgb(120, 120, 222);
	margin: 0 auto;
  	text-shadow: 0 0 80px rgba(120, 120, 222);
}
.logo{

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;
      /* Animate Background Image */

	  -webkit-text-fill-color:transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

    @-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px;
    position: relative;
}

.menu_bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.5s;
}

.menu_bar ul li a:hover {
    color: rgb(82, 82, 136);
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(53, 54, 54);
}

.dropdown_menu ul {
    display: block;
    margin: 10px;
}

.dropdown_menu ul li {
    width: 150px;
    padding: 8px;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown_menu-1,
.dropdown_menu-2,
.dropdown_menu-3 {
    display: none;
}

a {
    color: #fff;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    position: absolute;
     width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
/* ---------------------------responsive code for nav bar section------------------------------------ */

@media screen and (max-width: 480px) {
    .menu_bar {
        padding: 0 3%; 
    }

    .logo {
        font-size: 20px;
    }

    .menu_bar ul li {
        padding: 8px; 
    }

    .menu_bar ul li a {
        font-size: 14px; 
    }

    .dropdown_menu ul li {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .menu_bar ul li {
        padding: 10px 15px; 
    }

    .menu_bar ul li a {
        font-size: 18px; 
    }

    .dropdown_menu ul li {
        width: 150px; 
    }
}

@media screen and (min-width: 1024px) {
    .menu_bar ul li {
        padding: 10px 30px;
    }

    .menu_bar ul li a {
        font-size: 20px;
    }
}



/* ----------------------------body section--------------------- */

.home-deatils {
    padding: 50px;
    text-align:center;
    background-image: url('./images/company\ bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fcfafa;
    height: 600px;

}

.home-deatils h3 {
    align-items: center;
    /* padding-top: 200px; */
    font-size: 40px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
     width: 100%;
}
.arrow {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-arrow 3s ease-out infinite;
}
.arrow:first-child {
    animation: move-arrow 3s ease-out 1s infinite;
}
.arrow:nth-child(2) {
    animation: move-arrow 3s ease-out 2s infinite;
}
.arrow:before, .arrow:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #ffffff;
}
.arrow:before {
    left: 0;
    transform: skewY(30deg);
}
.arrow:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}
@keyframes move-arrow {
    25% {
        opacity: 1;
   }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
   }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
   }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
   }
}
/* -----------------------------animation code home section--------------------------- */
.home-deatils {
    transition: transform 0.3s ease-in-out;
}

.home-deatils:hover {
    transform: scale(1.05);
}


/* ---------------------------responsive code for body  section------------------------------------ */

@media screen and (min-width: 768px) {
    .home-deatils {
        padding: 80px; 
    }

    .home-deatils h3 {
        padding-top: 150px; 
        font-size: 50px;
    }
}


@media screen and (min-width: 1024px) {
    .home-deatils {
        padding: 100px; 
    }

    .home-deatils h3 {
     
        font-size: 60px; 
    }
}



/* ----------------------------service section--------------------- */

.service h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 750;
    margin-bottom: 10px;
    margin-top: 10px;
}

.service-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.service-box {
    width:30%;
    /* border: 3px solid; */
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 0 15px;
    box-shadow: 0px 0px 5px 1px black;
}

.btn {
    text-decoration: none;
    height: 40px;
    border: 1px solid;
    width: 100px;
    background: #2a2d2f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
/* -------------------------------animations for service sections-------------------------- */
.service-box {
    transition: transform 0.3s ease-in-out;
    
}

.service-box:hover {
    transform: scale(1.05);
}
.btn {
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #282c2fc2;
}
.btn {
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    border-color: #1a1d1f; 
}

.btn {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    
}


/* ---------------------------responsive code for service section------------------------------------ */

@media screen and (min-width: 768px) {
    .service-box {
        width: 30%;
    }
}


@media screen and (max-width: 767px) {
    .service-box {
        width: 100%; 
    }
}

@media screen and (min-width: 1024px) {
    .service-box {
        width: 22%; 
    }
}

/* ----------------------------About  section--------------------- */

.about {
    margin: 20px; 
    padding: 20px;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 20px;
}

.allheading {
    text-align: center;
    font-size: 30px;
    font-weight: 750;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fn {
    text-align: center;
    font-size: 18px; 
    margin-bottom: 15px; 
}

.btn {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    height: 40px;
    border: 1px solid;
    width: 150px;
    background: #2a2d2f;
    text-align: center;
    line-height: 40px;
    border-radius: 22px;
    font-size: 16px; 
    font-weight: bold;
    color: white;
}

/* ---------------------------responsive code for About section------------------------------------ */
@media screen and (min-width: 768px) {
    .about {
        height: auto; 
    }
}


@media screen and (min-width: 1024px) {
    .about {
        margin: 30px; 
    }

    .allheading {
        font-size: 36px; 
    }

    .fn {
        font-size: 18px; 
    }

    .btn {
        width: 180px; 
        font-size: 18px; 
    }
}

/* ----------------------------contact form section--------------------- */

.form-container {
    width: 80%; 
    max-width: 400px; 
    margin: auto;
    padding: 20px;
    background-color: #dfdfdf;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(27, 26, 26);
}

#contact {
    text-align: center;
    font-size: 32px; 
}

form {
    max-width: 300px;
    margin: auto;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px; 
    font-style: italic;
    font-weight: 500;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}


/* ---------------------------responsive code for contact form section------------------------------------ */

@media screen and (min-width: 768px) {
    .form-container {
        width: 60%;
    }

    #contact {
        font-size: 36px; 
    }

    label {
        font-size: 20px;
    }
}


@media screen and (min-width: 1024px) {
    .form-container {
        width: 50%; 
    }

    #contact {
        font-size: 40px; 
    }

    label {
        font-size: 22px; 
    }
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   margin-left: 110px;
}

button:hover {
    background-color: #45a049;
}
/* ---------------------------animation code for contact section------------------------------------ */
button {
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}


/* ----------------------------footer section--------------------- */



.footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-column {
    width: 30%;
    margin-bottom: 20px;
}

.footer-column h3 {
    color: #ffcc00;
}
/* ---------------------------responsive code for Footer section------------------------------------ */
@media screen and (max-width: 768px) {
    .footer-column {
        width: 100%;
    }
}

.license-section {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.social-media a {
    display: inline-flex;
    width:35px;
    height: 35px;
    border-radius: 50%;
    color: #d1d9db;
    font-size: 30px;
    border: 2px solid #d9d9d9;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 2px;
    transition: .5s ease;
}

.social-media a:hover,
.social-media a.active {
    background: #6a6a687a;
    color: #000;
    box-shadow: 0 0 20px #c6cbcd;
}


/* ---------------------------animation code for Footer section------------------------------------ */
.footer-column {
    transition: transform 0.3s ease-in-out;
}

.footer-column:hover {
    transform: scale(1.05);
}
